<html>
  <head>
    
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <ul>
      <% for (let i=0, j=list.length; i<j; i++) { %>
          <ul><%= list[i]%></ul>
      <% } %>
    </ul>
  </body>
</html>